<% if (comments.length) { %>
  <div class="card-container">
    <% comments.forEach(comment => { %>
        <div 
          class="card"
          style="background-color: <%= getRandomColor() %>"
        >
          <div class="top-card">
            <h2 class="title"><%= comment.title %></h2>
            <p class="msg"><%= comment.message %></p>
          </div>
          <div class="bottom-card">
          <hr>
          <% if (locals.user && (locals.user.ismember || locals.user.isadmin)) { %>
            <p class="additional-info">
              -
              <%= comment.name%>
              <%= comment.surname %>
            </p>
          <% } else { %>
            <p class="additional-info" >- Confidential Info</p>
          <% } %>
          </div>
        </div>
    <% }) %>
  </div>
<% } %>
